
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>             

@*<img src="~/Resources/Images_App/Logo.png" style="height:200px"/>*@

@*<select class="form-control" id="SelectCountry"></select>*@

<script>
    $(document).ready(function () {
        ListCountry();
    });
</script>