
@{
    ViewBag.Title = "Index";
}

<h2>Registro</h2>

<div>
    <table class="table table-borderless">
        <tr>
            <td>
                <span>Correo Electroníco</span>
                <input style="min-width:100%" class="form-control" type="email" name="name" id="Email" value="" />
            </td>
        </tr>
        <tr>
            <td>
                <span>Contraseña</span>
                <input style="min-width:100%" class="form-control" type="password" name="name" id="Password" value="" maxlength="8"/>
            </td>
        </tr>
        <tr>
            <td>
                <span>Contraseña</span>
                <input style="min-width:100%" class="form-control" type="password" name="name" id="ComfirmPassword" value="" maxlength="8"/>
            </td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-outline-success">Crear Usuario</button>
            </td>
        </tr>
    </table>
</div>



